<div class="container-profile">
    <h3 class="card-title text-center text-white">Profile</h3>
    <div class="card-profile">
        
        <div class="content-profile">
            <div class="col1-profile"  >
                <img src="<%=result.image %>" alt="">
                <div>
                <h1 style="display: inline-block"> <%=result.name %></h1> <button style="background-color:transparent; outline: none; border:none; width: 20px;height: 20px; display:inline" onclick=" location.href = '/profile/edit' "><img style="width: 20px;height: 20px;" src="../../images/icons/edit.png">
                </button>
            </div>
                <h1><%=result.emailAddress %></h1>
                <div class="row1">
                    <a href="/profile/delete"> Deactivate account </a>
                </div>
                
            </div>
            <div class="col2-profile">
                <h1>My Favorite Teams</h1>
                <% result.favoriteTeams.forEach(team =>{ %>
                    <div class="teaminfo" >
                        <h5><%= team.name %></h5>
                        <img class="teaminfo-logo" src="<%=team.logo %>" alt="">
                    </div>
                    <% })%>
                
            </div>
            <div class="col3-profile">
                <h1>My Votes</h1>
    
               
            </div>
           
           
            
            
           
        </div>
    </div>
</div>
