<head>
  <script>function change(value){document.getElementById("vote").value= value;}</script>

</head>

  <div class="card" data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500">
    <div class="content">
      <div class="Row-img"> 

        <img  src="<%= response.response[0].teams.home.logo %>" alt="Card image cap">



        <img  src="<%= response.response[0].teams.away.logo %>" alt="Card image cap">
        
       

      </div>
      <div class="Row-name-under-img">
        <div class="card-body">
          <h2 class="card-title"><%= response.response[0].teams.home.name %> &nbsp    &nbsp <%= response.response[0].teams.away.name %></h2>
        </div>


      </div>
      <p class="card-text"><%= response.response[0].score.fulltime.home %> &nbsp - &nbsp <%= response.response[0].score.fulltime.away %></p>
          
            <h4  >Time:<%= response.response[0].fixture.timestamp %>  </h4 >
            <h4  >Time:<%= response.response[0].fixture.date %>  </h4 >
            <h4  >Referee:<%= response.response[0].fixture.referee %>  </h4 >
            <h4  ><%= response.response[0].fixture.venue.city %> &nbsp:&nbsp <%= response.response[0].fixture.venue.name %></h4 >
         
            <div class="card-body">
            <a href="#" class="card-link">Another link</a>
            <% let played= response.response[0].score.fulltime.home %>
       
          </div>

         
        <div class="form_conianer">
            <form action="/vote/<%= response.response[0].fixture.id %>" method="POST" class="form">
                <h2> Vote</h2>
            
            <input type="text" id= "vote" name="vote" class="form__input__text"  hidden="hidden">
            <input onclick="change('teamOne')"type="submit" value="<%= response.response[0].teams.home.name %>" class="form__input__submit">
            <input onclick="change('tie')" type="submit" value="tie" class="form__input__submit">
        
            <input onclick="change('teamTwo')" type="submit" value="<%= response.response[0].teams.away.name %>" class="form__input__submit">
            </form>
        </div>
    </div>
</div>
    