
<!-- begin -->


  <% for (let index = response.response.length-1; index >= 0; index--) {%> 

    <% const element = response.response[index];%> 


  <div class="card" >
    <div class="content">
      <div class="Row-img"> 

        <img  src="<%= element.teams.home.logo %>" alt="Card image cap">



        <img  src="<%= element.teams.away.logo %>" alt="Card image cap">
        
       

      </div>
      <div class="Row-name-under-img">
        <div class="card-body">
          <h2 class="card-title"><%= element.teams.home.name %> &nbsp    &nbsp <%= element.teams.away.name %></h2>
        </div>


      </div>
      <p class="card-text"><%= element.score.fulltime.home %> &nbsp - &nbsp <%= element.score.fulltime.away %></p>
          
            <h4  >Time:<%= element.fixture.timestamp %>  </h4 >
            <h4  >Time:<%= element.fixture.date %>  </h4 >
            <h4  >Referee:<%= element.fixture.referee %>  </h4 >
            <h4  ><%= element.fixture.venue.city %> <%= element.fixture.venue.name %></h4 >
         
            <div class="card-body">
            <a href="#" class="card-link">Another link</a>
            <% let played= element.score.fulltime.home %>
          <script>if( played == null){console.log("button deactivated"); document.getElementById("voteBtn").setAttribute('disabled', true)}</script> 
          <a id= "voteBtn" type="submit">Vote</a>
          </div>
          
          
      
    </div>
    
          
        </div>
    


    <a href="/match/details/<%= element.fixture.id %>">Show Details</a>
    
   

  <% }%>
  <!-- end -->
