<style>
    h1{
        color: white
    }
</style>
<%  let counter = 0   %>
   <% randomQuestion() %>

<% function randomQuestion() { %>
    <% let random1 = Math.floor(Math.random() * 10);%>


    <h1><%=quizzes[random1].question %></h1>
    <br>
    
    <button  onclick="myFunction('<%=quizzes[random1].correct %>','<%=quizzes[random1].choose1 %>' )"><%=quizzes[random1].choose1 %></button>
    <br>
    
    <button onclick="myFunction('<%=quizzes[random1].correct %>','<%=quizzes[random1].choose2 %>')"><%=quizzes[random1].choose2 %></button>
    <br>
    
    <button onclick="myFunction('<%=quizzes[random1].correct %>','<%=quizzes[random1].correct %>')"><%=quizzes[random1].correct %></button>
<% }%>

<script>
    let counter = 0;
    function myFunction(bestAnswer ,current ) {
    //   alert("in myFunction"+bestAnswer+current);
      if (bestAnswer  === current) {
        console.log(counter);
        console.log('===============');
       
          
           if (counter < 10) { 
               console.log(counter)  
                counter ++ 
                randomQuestion() 
           } else { 
            console.log("correct");  
        } 
       }
       else{ 
           console.log("error");
            }
    }
    </script>


<script>
    function check(answer) {
      alert("Iam in check answer"+ answer);
   }
   
   </script>
   
   
   
   